<div class="x-led-entry {{if active "active"}}">
  {{input placeholder="x" value=light.x size=2 disabled="true"}}
  {{input placeholder="y" value=light.y size=2 disabled="true"}}
  {{input placeholder="name" value=light.name}}
  {{input placeholder="type" value=light.type size=2}}
  <a href="#" {{action 'remove'}}>✖</a>
</div>
