html
  background-color ghostwhite

a:link
  text-decoration none
  font-family sans

  &.active
    text-decoration underline
    
  &.warn
    color red
  
.message
  color red
  text-align center
  margin-top 2rem
  
  & + .message
    margin-top 0.8rem
  
.sidepanel
  .row
    // exception
    .button
      margin-right 0.7rem
    
      &:last-child
        margin-right 0
    
    .float-right
      float: right
      
      &:first-child
        margin-right 0
  
  // exception
  padding-bottom 0.1rem

.navbar
  .button
    margin-right 0.6rem
    
  .button:last-child
    margin-right 0rem

.sidepanel, .navbar
  background white
  border-radius 0.6rem
  
  .row
    margin 0.6rem 0.8rem
    white-space nowrap

    input
      margin-right 0.1rem
      vertical-align 5%

.spot
  position absolute
  background url(/images/crosshair.png)
  width 11px
  height 11px
  margin-left -5px
  margin-top -5px
  
.active
  .spot
    background rgba(0, 48, 255, 0.82) url(/images/crosshair.png)
    border-radius 5px

.x-led-entry.active input, .row.active input
  box-shadow 0 0 5px rgba(81, 203, 238, 1)

.center
  video, .dummy
    min-width 1024px
    background-image url(/images/camera.png)
    background-size 20%
    background-repeat no-repeat
    background-position center

.dummy
  min-height 512px
  
  &.error
    background-image url(/images/camera-error.png)

.center > div > div
  & > img, & > div > video, .dummy
    border-radius 0.4rem
    border 1rem solid white
    margin-left -1rem
    margin-top -1rem

.error
  video
    background-image url(/images/camera-error.png)

.sidepanel, video, .center img, .top > .navbar, .dummy
  box-shadow 0 0 2px #888888


// Layout //

body
  height 100%
  
  & > div  // ember application
    position absolute
    top 0; right 0; bottom 0; left 0

.sidepanel
  position absolute
  max-height 98%
  overflow auto

  &.sidepanel-top-left
    top 1%
    left 1%

  &.sidepanel-top-right
    top 1%
    right 1%

.top
  position absolute
  top 1%; left 1%; right 1%
  text-align center

  & > .navbar
    margin 0 auto
    display inline-block

// Helpers //

.center
  display flex
  justify-content center
  height 100%

  & > *
    align-self center

