<div class="top">
  <div class="navbar">
  
    <div class="row">
      {{!-- {{#link-to 'application' class="button"}}root{{/link-to}} --}}
      {{#link-to 'shot' (query-params random=random) class="button"}}{{fa-icon "camera"}} normal{{/link-to}}
      {{#link-to 'amplified' (query-params random=random) class="button"}}{{fa-icon "camera"}} amplified{{/link-to}}
      {{#link-to 'live' class="button warn"}}{{fa-icon "video-camera"}} live{{/link-to}}
    </div>
  
  </div>
</div>

<div class="center">
  {{#mouse-position selected=(action "saveCoordinates")}}

  <div style="position: relative">

    {{#unless loading}}

      {{#each model as |light|}}
        {{dot-spot activeSpot=active entry=light}}
      {{/each}}
    
    {{/unless}}
  
    {{outlet}}
    
  </div>
  
  {{/mouse-position}}
</div>


<div class="sidepanel {{if switched 'sidepanel-top-left' 'sidepanel-top-right'}}">
  
  <div class="row">
    {{#if expanded}}
      <a class="button float-right" href="#" {{action "toggle"}}>{{fa-icon "wrench"}} hide</a>
      <a class="button float-right" href="#" {{action "switch"}}>{{#if switched}}{{fa-icon "toggle-right"}}{{else}}{{fa-icon "toggle-left"}}{{/if}} toggle</a>
      <a class="button" href="#" {{action "loadAll"}}>{{fa-icon "folder-open"}} load</a>
      <a class="button" href="#" {{action "saveAll"}}>{{fa-icon "save"}} save</a>
    {{else}}
      <a class="button" href="#" {{action "toggle"}}>{{fa-icon "wrench"}} configure</a>
    {{/if}}

  </div>
  
  {{#if expanded}}

    {{#if loadingLeds}}
      <div class="row"><i>fetching data</i></div>
    {{else}}

      {{#each model as |light index|}}
        <div class="row">
          {{led-entry light=light activeLight=active remove=(action "removeLight" light) focusIn=(action "selectLight" light) save=(action 'save')}}
        </div>
      {{else}}
        <div class="row"><i>click on a led to add it</i></div>
      {{/each}}

    {{/if}}

    <div class="row {{if newFocused 'active'}}">
      {{input placeholder="x" value=x size=2 disabled="true"}}
      {{input placeholder="y" value=y size=2 disabled="true"}}
      {{input placeholder="name" value=name id="newEntryNameInput" click=(action "deselect")}}
      {{input placeholder="type" value=type size=2}}
    </div>

  {{/if}}

</div>
