<div class="dummy error"></div>

<div class="message">
  Is your camera connected?
</div>

<div class="message">
  When the browser uses the camera no pictures can be taken. Unshare or refresh.
</div>
